<span style="font-size: 40pt; font-family: &quot;Segoe UI&quot;; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; font-variant-position: normal; color: black; letter-spacing: -0.5pt; vertical-align: baseline;">Procedures and functions in PostgreSQL</span>

In [1]:
CREATE TABLE IF NOT EXISTS mytable
(
    a integer,
    b integer
)

In [2]:
CREATE PROCEDURE AB_Insert (a integer, b integer)
    LANGUAGE SQL
    AS $$
        INSERT INTO mytable VALUES (a, b);
    $$;

In [3]:
CALL AB_Insert (7,7)

In [8]:
CALL AB_Insert (
    a => 1, 
    b => 2)

In [9]:
SELECT * FROM mytable;

a,b
7,7
1,2

# Functions

In [5]:
-- String functions
SELECT SUBSTRING('The quick brown fox', 5, 11);
-- Math functions
SELECT FLOOR(3.72);
-- Date/time functions
SELECT CURRENT_DATE;

substring
quick brown

floor
3

current_date
2025-04-20

In [6]:
-- create function
CREATE OR REPLACE FUNCTION
        a_where (x integer)
RETURNS integer AS
$$
  SELECT b FROM mytable WHERE a = x 
  LIMIT 1
$$
LANGUAGE 'sql';  --sql, c, internal, or the name of a user-defined procedural language, for example, plpgsql.

In [8]:
select a_where(1)

a_where
2